{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Сброс пароля
{% endblock %}
{% block content %}
    {% if validlink %}
        <p>Введите и подтвердите новый пароль</p>
        <form action="" method="post" class="mx-auto" style="width: 35rem;">
        {% csrf_token %}
        {{ form|crispy }}
            <br>
        <button type="submit" class="btn btn-primary">Изменить пароль</button>
        </form>
    {% else %}
        <h1>Не удалось сбросить пароль</h1>
        <p>Ссылка недействительна, возможно, потому, что она уже была использована</p>
    {% endif %}
{% endblock %}